body {
    background: linear-gradient(
        to bottom,
        #0f3d38 0%,
        #121212 20%,
        #121212 80%,
        #0f3d38 100%
    );
    color: #e0e0e0;
}

h1 {
    color: #4db6ac;
}

nav a {
  text-decoration: none;
  color: #4db6ac;
}

footer a {
  text-decoration: none;
  color: #808080;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}